:root {
    --primary: #471CBE;
    --padding-base: 12px;
    --default-rounded: 6px;
    --success-color: #1F64EB;
    --primary-color: #471CBE;
    --light-blue: #C7D8FA;
    --benefit-color: #42A215;
    --light-green: #E3F1DC;
    --margin-base: 12px;
    --light-grey: #EBEBEB;
    --grey: #CCCCCC;    
    --white: #FFFFFF
}

input {
  border: 1px solid;
  outline: none;
  --line-height: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

p::after {
  content: '\a';
  white-space: pre;
}

p,
span,
a {
  line-height: var(--line-height);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: -var(--light-grey);
  color: var(--grey);
}

/* repetido */
p::after {
  content: '\a';
  white-space: pre;
}

.container,
.row {
  width: 100%;
  padding: var(--padding-base);
}

.col {
  padding: var(--padding-base);
}
.padding-none{
    padding: 0;
}

.burger-btn {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.burger-icon {
  position: relative;
  width: 0.75rem;
  height: 2px;
  background-color: black;
  border-radius: 5px;
}

.burger-icon::before,
.burger-icon::after {
  content: '';
  position: absolute;
  width: 0.75rem;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.burger-icon::before {
  transform: translateY(-0.4rem);
}

.burger-icon::after {
  transform: translateY(0.4rem);
}

/* ANIMATION */
#burger-btn-check:checked + .burger-btn > .burger-icon {
  background: transparent;
  box-shadow: none;
}

#burger-btn-check:checked + .burger-btn > .burger-icon::before {
  transform: rotate(45deg);
  top: 0;
}

#burger-btn-check:checked + .burger-btn > .burger-icon::after {
  transform: rotate(-45deg);
  top: 0;
  flex-grow: 1;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fw-wrap {
    flex-wrap: wrap;
}

.fd-col {
    flex-direction: column;
}

.bg-light-grey {
  background-color: rgb(196, 196, 196);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-light-green {
  background-color: var(--light-green);
}

.txt-blue {
  color: var(--success-color);
}

.txt-green {
  color: var(--benefit-color);
}

.txt-black {
  color: #000;
}

.txt-grey {
  color: #4a4a4a;
}

.txt-white {
  color: #fff;
}

.txt-center {
  text-align: center;
}
.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
  border-bottom: 4px solid var(--primary-color);
}

.txt-bold {
  font-weight: bold;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid #e5e5e5;
}

.bg-main {
  --color: #e5e5e5;
  background-color: var(--color);
}

.p-0 {
  padding: calc(var(--padding-base) * 1.125);
}

.m-0 {
    margin: calc(var(--margin-base) * 1.125);
}

.m-1 {
    margin: calc(var(--margin-base) * 1.25);
}

.m-2 {
    margin: calc(var(--margin-base) * 1.5);
}

.m-3 {
    margin: calc(var(--margin-base) * 1.75);
}

.m-4 {
    margin: calc(var(--margin-base) * 2);
}

.m-5 {
    margin: calc(var(--margin-base) * 2.5);
}

.m-top-0 {
    margin-top: calc(var(--margin-base) * 1.125);
}

.m-top-1 {
    margin-top: calc(var(--margin-base) * 1.25);
}

.m-top-2 {
    margin-top: calc(var(--margin-base) * 1.5);
}

.m-top-3 {
    margin-top: calc(var(--margin-base) * 1.75);
}

.m-top-4 {
    margin-top: calc(var(--margin-base) * 2);
}
.m-top-5 {
    margin-top: calc(var(--margin-base) * 2.5);
}

.m-bottom-0 {
    margin-bottom: calc(var(--margin-base) * 1.125);
}

.m-bottom-1 {
    margin-bottom: calc(var(--margin-base) * 1.25);
}

.m-bottom-2 {
    margin-bottom: calc(var(--margin-base) * 1.5);
}

.m-bottom-3 {
    margin-bottom: calc(var(--margin-base) * 1.75);
}

.m-bottom-4 {
    margin-bottom: calc(var(--margin-base) * 2);
}
.m-bottom-5 {
    margin-bottom: calc(var(--margin-base) * 2.5);
}

.m-left-0 {
    margin-left: calc(var(--margin-base) * 1.125);
}

.m-left-1 {
    margin-left: calc(var(--margin-base) * 1.25);
}

.m-left-2 {
    margin-left: calc(var(--margin-base) * 1.5);
}

.m-left-3 {
    margin-left: calc(var(--margin-base) * 1.75);
}

.m-left-4 {
    margin-left: calc(var(--margin-base) * 2);
}

.m-left-5 {
    margin-left: calc(var(--margin-base) * 2.5);
}

.m-right-0 {
    margin-right: calc(var(--margin-base) * 1.125);
}

.m-right-1 {
    margin-right: calc(var(--margin-base) * 1.25);
}

.m-right-2 {
    margin-right: calc(var(--margin-base) * 1.5);
}

.m-right-3 {
    margin-right: calc(var(--margin-base) * 1.75);
}

.m-right-4 {
    margin-right: calc(var(--margin-base) * 2);
}

.m-right-5 {
    margin-right: calc(var(--margin-base) * 2.5);
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-hover:hover {
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.rounded {
  border-radius: var(--default-rounded);
}

.link-color {
  color: var(--success-color);
}

.grey-border {
  border: 1px solid #f5f5f5;
}

.link {
  text-decoration: none;
}

.bg-primary {
    background-color: var(--primary);
}

.br-top {
    border-top: 1px solid #E5E5E5;
}

.br-left {
    border-left: 1px solid #E5E5E5;
}

.br-right {
    border-right: 1px solid #E5E5E5;
}

.br-btm {
    border-bottom: 1px solid #E5E5E5
}

.justify-content-sb {
  justify-content: space-between;
}

.overflow-scrollx {
  overflow-x: scroll;
}

.title {
  font: 600;
  font-size: 1.25rem;
}

.bg-blue {
  background-color: var(--success-color);
}

.bg-white {
  background-color: var(--white);
}

.vh-100 {
  min-height: 100vh;
}

.txt-strike{
    text-decoration: line-through;
}

.bg-container{
    background-color: var(--white);
}

.txt-light-grey {
    color: #4A4A4A;
}

.bg-black-transparent {
    background-color: rgba(0,0,0,.3);
}