.texttag-container {
	display: inline-flex;
	padding: 3px 4px;
	border-radius: 3px;
	font-size: 10px;
	line-height: 1em;
	vertical-align: middle;
}

.texttag-p {
	font-size: 12px;
}

.MenuMobile-p-1-vertical {
	padding-left: 0;
	padding-right: 0;
	padding-top: var(--padding-base);
	padding-bottom: var(--padding-base);
}

.MenuMobile-p-1-horizontal {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--padding-base);
	padding-right: var(--padding-base);
}

.MenuMobile-txt-start {
	text-align: start;
}

.MenuMobile-width-100 {
	width: 100%;
}

.MenuMobile-m-base-left {
	margin-left: 12px;
}

.MenuMobile-m-base-right {
	margin-right: 12px;
}

.MenuMobile-gap-small {
	gap: 0.2em;
}

.MenuMobile-blue-border {
	border: 1px solid #1f64eb;
}

.MenuMobile-btn {
	width: 100%;
	border: 1px solid #1f64eb;
	padding-top: var(--padding-base);
	padding-bottom: var(--padding-base);
}

img {
  display: block;
  width: 100%;
}

.texttag-p {
  font-size: 12px;
}

.navbar-p-base {
  padding: 6px;
}

.navbar-p-input {
  padding: 3px 3px 3px 35px;
}

.navbar-img-log{
  width: 100%;
}
.navbar-width-logo {
  width: 45px;
}

.navbar-search-bar {
  flex-grow: 1;
}

.Footer-d-flex {
  display: flex;
}

.Footer-txt-start {
  text-align: start;
}

.Footer-col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.Footer-w-50px {
  width: 50px;
}

.ProductPage-d-flex {
	display: flex;
}
  
.ProductPage-as-baseline {
	align-self: baseline;
}
  
.ProductPage-circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
  
.ProductPage-circle-content {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
}
  
.ProductPage-jc-right {
	justify-content: right
}
  
.ProductPage-jc-start {
	justify-content: start
}
  
.ProductPage-jc-center {
	justify-content: center
}
  
.ProductPage-bg-orange {
	background-color: #FF7733;
}
  
.ProductPage-bg-light-grey {
	background-color:#f5f5f5;
}

.ProductPage-fs-10 {
	font-size: 10px;
}

.ProductPage-fs-12 {
	font-size: 12px;
}

.ProductPage-fs-13 {
	font-size: 13px;
}

.ProductPage-fs-14 {
	font-size: 14px;
}

.ProductPage-fs-16 {
	font-size: 16px;
}
 
.ProductPage-fs-18 {
	font-size: 18px;
}
  
.ProductPage-fs-24 {
	font-size: 24px;
}
  
.ProductPage-fs-36 {
	font-size: 36px;
}
  
.ProductPage-p-bottom-0{
	padding-bottom: 2px;
}

.ProductPage-p-bottom-1{
  padding-bottom: 4px;
}
  
.ProductPage-p-bottom-2{
  padding-bottom: 6px;
}  
  
.ProductPage-p-top-0{
	padding-top: 2px;
}

.ProductPage-p-top-1{
	padding-top: 4px;
}

.ProductPage-img {
  display: block;
  width: 100%;
}
  
.ProductPage-txt-light-grey {
	color: #adadad;
}

.ProductPage-border-none{
  border-color: transparent;
}
  
.ProductPage-w-100 {
  width: 100%;
}

.ProductPage-p-button {
  padding: 10px;
}

.ProductPage-txt-start {
	text-align: start;
  }
